version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    registries:
      - npm  # ← refers to the name defined in the global `registries` section

  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "weekly"
    registries:
      - npm  # ← also refers to the shared config below

registries:
  npm:
    type: "npm-registry"
    url: "https://registry.npmjs.org" #static url, don't need to change or match since it's public
    token: "${{secrets.NPM_TOKEN_NAME}}" #token name that matches depenabot secrets
    
    
